<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!-- （注释)这里value添加的是请求平台摄像头获取平台配置文件的接口IPv4地址-->
    <add key="RemoteIP" value="localhost" />
    <!-- （注释)这里value添加的是控制接收到的配置文件结合isOpen，判断是否允许写入到本地conf里面
    0~~允许isOpen为0的写入；1~~允许isOpen为1的写入(默认)；2~~全部写入到本地配置文件-->
    <add key="OpenVideo" value="1" />
    <!--   (注释)配置文件允许的最大摄像头的数目-->
    <add key="maxCount" value="4" />
    <!--   (注释)配置文件所在路径,带上h5ss.conf,注意路径用"\\"-->
    <add key="confPath" value="C:\\Users\\MECHREVO\\Desktop\\Video_confService\\VideoConf\\bin\\x64\\Debug\\h5ss.conf" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>