<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  
  <appSettings>
    <!-- （注释)这里value添加的是请求平台摄像头获取配置文件的web接口地址ip-->
    <add key="RemoteIP" value="localhost" />
    <!-- （注释)这里value添加的是控制接收到的配置文件结合isOpen，判断是否允许写入到本地conf里面
    0~~允许isOpen为0的写入；1~~允许isOpen为1的写入(默认)；2~~全部写入到本地配置文件-->
    <add key="OpenVideo" value="1" />
  </appSettings>
  
</configuration>